@font-face {
    font-family: hack;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/fonts/hack-regular.woff");
}

body {
    font-family: hack;
    font-size: 8px;
    color: black;
    background-color: rgb(91, 124, 101);
    min-height: 33cm;
    min-width: 25cm;
}
body.print {
    background: white;
    min-height: none;
    min-width: none;
}

.main {
    width: 210mm;
    height: 297mm;
    margin-top: 10px;
    background-color: white;
    padding: 40px;
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.2),
                0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.main.print {
    box-shadow: none;
    padding: 40px;
    padding-top: 50px;
    margin-top: 0px;
    margin-left: -150px;
}

.link {
    width: 210mm;
    height: 40px;
    padding-top: 30px;
    padding-left: 5px;
}

.link a {
    color: #eee;
}
.link a:hover {
    text-decoration: underline;
}

.stuff {
    position: relative;
    z-index: 2;
}

.overlay {
    opacity: 0.2;
    position: absolute;
    background-image: url("../public/textured-paper.png");
    z-index: 1;
    width: 210mm;
    height: 297mm;
    margin: -40px;
}

.border {
    border: 1px solid rgba(10, 10, 10, 0.8);
    padding: 29px 49px;
}

.avatar {
    margin-right: 7px;
    margin-top: 7px;
}

.white {
    opacity: 0;
}

.paragraph {
    padding-bottom: 5px;
    padding-top: 2px;
    text-align: justify;
}
.paragraph p {
    padding-top: 5px;
}

.work-grid {
    padding-bottom: 7px;
    border-top: 1px solid #ddd;
}

.work-grid.always-border {
    border-top: 1px solid #ddd!important;
}

.work-grid:first-child {
    border-top: 0;
}

.name {
    font-size: 16px;
}

.side-by-side {
    display: inline-block;
}

.contact {
    font-size: 9px;
}

.contact.right {
    text-align: right;
}

.header {
    background-color: #eee;
    padding-left: 7px;
    font-size: 10px;
    margin-top: 10px;
}

.place-grid {
    margin-bottom: 5px;
}

.place {
    font-size: 10px;
}

.titles {
    margin-top: 5px;
}

.title-container {
    text-align: right;
    display: block ruby;
    margin-top: -4px;
}

.time-title {
    color: #444;
    text-transform: uppercase;
    font-size: 8px;
}

.time {
    white-space: pre;
    /*margin-left: 10px;*/
}

.workplace {
    padding-top: 5px;
    margin-bottom: -3px;
}

.point {
    display: block;
    padding-right: 20px;
}

.point.multiple {
    margin-left: -10px;
}

.tags {
    padding-top: 5px;
}

.tag {
    padding: 2px 4px;
    margin-right: 4px;
    border-radius: 2px;
    color: #222;
    background-color: #d3d3d3;
    display: inline-block;
    margin-bottom: 5px;
}
